# Dónde está tu MLflow Tracking Server
MLFLOW_TRACKING_URI=http://localhost:5000

# Identificador del artefacto del modelo (elige UNA forma)
# Por versión exacta en el Registry:
MODEL_URI=models:/<nombre_modelo>/<version>
# O por stage (si usas Staging/Production):
# MODEL_URI=models:/<nombre_modelo>/Production
MLFLOW_TRACKING_URI=file:$PWD/mlruns
MODEL_URI=runs:/12e23d1796e74e7184f14277e21ccf64/model
