fastapi==0.121.1
loguru==0.7.3
mlflow==3.4.0
mlflow_skinny==3.4.0
mlflow_tracing==3.4.0
numpy==2.3.4
pandas==2.3.3
pydantic==2.12.4
python-dotenv==1.2.1
PyYAML>=6.0.1,<7
scikit_learn==1.7.2
tqdm==4.66.5
typer==0.20.0
mlflow==3.4.0
mlflow_skinny==3.4.0
mlflow_tracing==3.4.0
pandas==2.3.3
scikit_learn==1.7.2
